 h1{
font-size:25px;
}

.btn-success:hover{
background-color: rgb(141, 52, 192);
}
canvas{
    animation-name:example;
    animation-duration:4s;
    animation-iteration-count: infinite;
}
@keyframes example{
from{box-shadow:1px 1px 38px red};
to{box-shadow:1px 1px 38px rgb(121, 21, 124)};
}